
<div class="wrapper">
	<%= render "shared/header" %>
	<div class="content-wrapper">	
		<div id="content">
			<div id="sort">
				<h3>Inventory</h3>
				<div class="button_right">
					<%= link_to "Add Item", new_item_path, class: "button_save" %>

				</div>
				<div id="row">
					<p>Sort By: </p>
					<a href="" class="sorted" id="current_sort">Items A-Z</a>
					<a href="" class="sorted">Cafe Location</a>
					<a href="" class="sorted">Supplier</a>
				</div>
			</div>
			<div id="product-table">
				<table>
					<div id="top_row">					
					<tr>
						<th>Item</th>
						<th>Current Quantity</th>
						<th>Units</th>
						<th>Cafe Location</th>
						<th>Supplier</th>
						<th>Notes</th>
					</tr>
					</div>
					<% @items.each do |item| %>
						<tr>
							<td><%= item.name %></td>
							<td>
								<%= simple_form_for item do |f| %>
								<!-- <input id="quantity" type="text" value="<%= item.current_amount %>"> -->
									<%= f.input :current_amount, :label=>false, :value=> item.current_amount , :input_html => {:class=> "item-amount"} %>
								<% end %>
							</td>
							<td><%= item.unit_quantity %> <%= item.unit_name %></td>
							<td>
								<% item.storage_locations.each do |location| %>
									<%= location.name %>
								<% end %>
							</td>
							<td>
								<% item.suppliers.each do |supplier| %>
									<%= supplier.name %>
								<% end %>
							</td>
							<td><%= item.notes %></td>
						</tr>
					<% end %>
				</table>	
			</div>
		</div>
		<%= render "shared/leftcolumn" %>
	</div>
	<!--container-->
	<%= render "shared/footer" %>
	<!--footer-->
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(document).on("change", ".item-amount", function(){
			$($($(this).parent()).parent()).submit();
		})
	});
</script>