<div class="wrapper">
	<%= render "shared/header" %>
	<div class="content-wrapper">
			<div id="content">
				<div id="sort">					
					<h3>Add New Item</h3>
					<div class="button_right">
					</div>
				</div>
				<div id="product-table">
						<%= simple_form_for @item, :html => {:class => 'pull-left'} do |f| %>
						  <%= f.input :name, label: 'Name of item', placeholder: 'ie: "Avocados"' %>
						  <%= f.input :current_amount, label: 'Current Amount', placeholder: '?' %>
						  <%= f.input :unit_quantity, label: 'Unit Quantity', placeholder: '1' %>
						  <%= f.input :unit_name, label: 'Unit Type', placeholder: 'LB' %>
						  <%= f.input :min_amount, label: 'Min Amount', placeholder: 'threshold' %>
						  <%= f.input :max_amount, label: 'Max Amount', placeholder: 'full house' %>
						  <%= f.input :purchase_amount, label: 'Purchase Amount', placeholder: 'xx' %>
						  <%= f.input :notes, label: 'Notes' %>
						  <%= f.simple_fields_for :suppliers do |s_form| %>
						  <%= s_form.input :id, :collection => @suppliers, :label => "Suppliers" %>
						  <% end %>
						  <%= f.simple_fields_for :storage_location do |s_form| %>
						  <%= s_form.input :id, :collection => @storage_locations, :label => "Storage Location" %>
						  <% end %>
						  <%= f.button :submit, :class => 'button_save' %>
						<% end %>
				</div>
			</div>
		<%= render "shared/leftcolumn" %>
	</div>
<%= render "shared/footer" %>
</div>	



